:root{
	--font1: 'Fira Code', monospace;
	--colorbackground: #252932;
	--colorhover:#f56f3a;
}



html{
	font-size: 62.8%;
	font-family: var(--font1);
}


header {
	display: block;
	width:100%; 
	height: 60px;
	overflow:hidden; 
	background: var(--colorbackground);
	margin-bottom:20px;
}

.wrapper {
	width:90%; 
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}

 
 header .logo .hamburguer-logo{
	display:none;
} 


/* header .logo {
	color:#f2f2f2;
	font-size:1.6rem;
	line-height:40px;
	float:left;
} */

header nav {
	float:right;
	line-height:50px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding: 5px 25px;
	line-height:normal;
	font-size:1.6rem;
	font-weight:bold;
	/* -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; */
}

header nav a > a {
	overflow:hidden;
}

header nav a:hover {
	background: var(--colorhover);
	border-radius:20px;
}
/* 
.hidden{
	display: block;
} */

@media screen and (max-width: 768px){
	header{
		display: block;
		width: 100vw;
		height: 50vh;
	}

	header .logo .hamburguer-logo{
		display:block;
		width: 60px;
		height: 60px;
		margin-left: -10px;
		color: #fff;
	}	

  
header nav{
	margin-right: 250px;
}

	header nav a{
		display: block;
		line-height: 1.5rem;
		text-align: center;
		font-size: 1.3rem;
	}
	
}

@media screen and (max-width: 425px){
	
	header{
		width: 100vw;
		height: 60vh;
		
	}

	.wrapper{
		display: flex;
		place-content: center;
	}
  
	header .logo{
		width: 60px;
		height: 60px;
	}

	header .logo .hamburguer-logo{
		display: block;
		background-color: red;
		width: 50px;
		height: 50px;
		margin-left: -60px;
		color: #fff;
	}
  
	header nav{
	margin-right: 100px;
}
	

	header nav a{
		display: block;
		margin: 20px 0;
		font-size: 1.3rem;
	}
	
}

@media screen and (max-width: 320px){


	header .logo{
		display: block;
		width: 60px;
		height: 60px;
		background-color: red;
	}

	header .logo .hamburguer-logo{
		width: 100%;
		height: 100%;
	}

	header nav{
		margin: 0 auto;
	}
	header nav a{
		margin: 0;
	}
}